/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav a{
  float: right;
  left: 50px;
  padding-top: 10px;
  font-size: 13px;
  clear: both;
  margin-left: 10px;

}

body{
    width: 100%;
    justify-content: center; 
    font-family: 'Roboto', sans-serif;
}
table{
    border-collapse: collapse;
}
th,td{
    border-bottom: 1px solid white;
    padding: 10px 20px;
    font-size: 16x;
}

tr:nth-child(even){
    background-color: #dddddd;

}

tr:nth-child(odd){
    background-color: #EDEEF1;

}

tr:hover td{
    color: #44b478;
    cursor: pointer;
}

td a{
    border: none;
    border-radius: 20px;
    text-decoration: none;
}

.header_fixed{
    height: 500px;
    margin-top: 30px;
    border: 1px solid white;
}
.header_fixed thead th{
    position: sticky;
    top: 0;
    background-color: rgb(88, 88, 88);
    color: #E6E7E8;
    font-size: 17px;

}
#one{
    font-family: 'Impact';
    color: blue;
    font-size: 25px;
}  */





td a{
    
    text-decoration: none;
}
#one{
    /* font-family: 'Impact'; */
    color: blue;
    /* font-size: 25px; */
}
@media only screen and (max-width:800px)
     {
         #no-more-tables tbody, 
         #no-more-tables tr, 
         #no-more-tables td{
             display: block;
             

         }
         #no-more-tables thead{
             position: absolute;
             top: -9999px;
             left: -9999px;
         }
         #no-more-tables td{
             position: relative;
             padding-left: 50%;
             border: none;
             /* border-bottom: 1px solid red; */
         }
         #no-more-tables td:before{
             content: attr(data-title);
             position: absolute;
             left: 16px;
             font-weight: bold;
         }
         #no-more-tables tr{
             border-bottom: 1px solid #ccc;
         }
         #one{
            font-family: 'Impact';
            color: blue;
            font-size: 25px;
        }
        td a{
    
            text-decoration: none;
        }
         
         
     }

